.regular-btn{
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    margin-left: 30px;
}

.cancel{
    text-decoration: none;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
}

.post-title{
    margin-top: 20px;
    margin-bottom: 100px;
}
