.category-icons-sprite i{
    color: #50ace1;
    font-size: 50px;
   
}

.title{
    padding-top: 5px;
    font-weight: 400;
}

.h2-title{
    margin-bottom: 70px;
}

.third-section{
    margin-bottom: 100px;
}